﻿@using Application;
@using Newtonsoft.Json;
@using Application.Brands;
@model BrandUpdateViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var response = TempData["response"]?.ToString() ?? string.Empty;
    var data = JsonConvert.DeserializeObject<ResponseResult>(response);
    var message = data?.Message ?? string.Empty;
    var status = data?.StatusCode ?? default;
}

<title>Update brand @Model.Name</title>

<main id="main" class="main">
    <p hidden id="message">@message</p>
    <p hidden id="status">@status</p>
    <section class="section">
        <div class="row col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update brand @Model.Name</h5>
                    <!-- Multi Columns Form -->
                    <form class="row g-3" method="post" action="/Brand/Update">
                        @Html.AntiForgeryToken()
                        <input asp-for="Id" type="hidden">
                        <div>
                            <label asp-for="Name" class="form-label">Brand name*</label>
                            <input asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Multi Columns Form -->
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    <script src="~/NiceAdmin/js/result.js"></script>
}