﻿@using Application.Products;
@using Application;
@model GenericData<ProductViewModel>

@foreach (var item in Model.Data)
{
    <tr data-count="@Model.Count" class="total-count">
        <td><a href="/product/detail?id=@item.ProductId">@item.ProductName</a></td>
        <td>@item.Stock</td>
        <td>@item.Price</td>
        <td>@item.DiscountPrice</td>
        <td>
            <span class="badge @((item.IsFeatured) ? "bg-success" : "bg-danger")">
                <i class="bi @((item.IsFeatured) ? "bi-check-circle" : "bi-x-circle")"></i>
            </span>
        </td>
        <td>
            @item.Rating.ToString("F2") <i class="bi bi-star-fill"></i>
        </td>
        <td>
            <a href="@Url.Action("Edit", "AdminProduct", new { })" class="btn btn-sm btn-primary">Edit</a>
            <a href="@Url.Action("Delete", "AdminProduct", new {  })" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
}