﻿@using Application
@using Application.Users
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> _roleManager
@model ManageRoleViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var allRoles = _roleManager.Roles.ToList();
    var response = TempData["response"]?.ToString() ?? string.Empty;
    var data = JsonConvert.DeserializeObject<ResponseResult>(response);
    var message = data?.Message ?? string.Empty;
    var status = data?.StatusCode ?? default;
}

<title>Edit user @Model.UserName role</title>

<main id="main" class="main">
    <p hidden id="message">@message</p>
    <p hidden id="status">@status</p>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update role(s) for user @Model.UserName</h5>
                    <!-- Multi Columns Form -->
                    <form class="row g-3" method="post" action="/User/ManageRole">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="UserName" />
                        <div class="col-md-6">
                            <label asp-for="CurrentRoles" class="form-label">User role(s)</label>
                            <select asp-for="CurrentRoles" multiple class="form-select" aria-label="Default select example">
                                @* for each role in allRoles, get a role as an option. If a role in Model.CurrentRoles, add checked*@
                                @foreach (var role in allRoles)
                                {
                                    var selected = Model.CurrentRoles?.Contains(role.Name!);
                                    <option value="@role.Name" selected="@selected">@role.Name</option>
                                }
                            </select>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Multi Columns Form -->
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    <script src="/NiceAdmin/js/result.js"></script>
}