﻿@using Application;
@using Application.Orders
@using Domain.Enums
@using Newtonsoft.Json;
@model OrderUpdateViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var response = TempData["response"]?.ToString() ?? string.Empty;
    var data = JsonConvert.DeserializeObject<ResponseResult>(response);
    var message = data?.Message ?? string.Empty;
    var status = data?.StatusCode ?? default;
}

<title>Update Order Status</title>

<main id="main" class="main">
    <p hidden id="message">@message</p>
    <p hidden id="status">@status</p>
    <section class="section">
        <div class="row col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update order status</h5>
                    <!-- Multi Columns Form -->
                    <form class="row g-3" method="post" action="/Order/Update">
                        @Html.AntiForgeryToken()
                        <input asp-for="OrderId" type="hidden">
                        <div>
                            <label asp-for="Status" class="form-label">Status *</label>
                            <select asp-for="Status" type="text" class="form-select">
                                <option value="@EntityStatus.Pending">Pending</option>
                                <option value="@EntityStatus.Completed">Completed</option>
                                <option value="@EntityStatus.Cancelled">Cancelled</option>
                                <option value="@EntityStatus.Denied">Denied</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Multi Columns Form -->
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts {
    <script src="~/NiceAdmin/js/result.js"></script>
}