@using Application.Products
@model ProductDetailViewModel;

<div class="container quickView-container">
    <div class="quickView-content">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="product-left">
                        @foreach (var image in Model.Images)
                        {
                            <a href="#@image.Id" class="carousel-dot">
                                <img src="@image.ImageLink" alt="@image.Alt">
                            </a>
                        }
                    </div>
                    <div class="product-right">
                        <div class="owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl" data-owl-options='{
                            "dots": false,
                            "nav": false,
                            "URLhashListener": true,
                            "responsive": {
                                "900": {
                                    "nav": true,
                                    "dots": true
                                }
                            }
                        }'>
                            @foreach (var image in Model.Images)
                            {
                                <div class="magnific-img">
                                    <a href="@image.ImageLink" class="intro-slide image-popup-vertical-fit" data-hash="@image.Id">
                                        <img src="@image.ImageLink" alt="@image.Alt">
                                    </a>
                                </div>
                                <!-- End .intro-slide -->
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <h2 class="product-title">@Model.ProductName</h2>
                @if (@Model.DiscountPrice > 0 && @Model.DiscountPrice < @Model.Price)
                {
                    <h3 class="new-price">@Model.DiscountPrice ₫</h3>
                    <h3 class="old-price"><del>@Model.Price ₫</del></h3>
                }
                else
                {
                    <h3 class="price">@Model.Price₫</h3>
                }

                @if (@Model.ReviewCount > 0 && @Model.Rating > 0 && @Model.Rating <= 5)
                {
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: @(Model.Rating / 5d * 100d)%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( @Model.ReviewCount Reviews )</span>
                    </div>

                    <!-- End .rating-container -->
                }

                <p class="product-txt">@Model.Description</p>


                @* <div class="details-filter-row product-nav product-nav-thumbs">
                <label for="size">color:</label>
                <a href="#" class="active">
                <img src="https://vcdn-sohoa.vnecdn.net/2023/07/06/DSCF3483-1686014164-7221-1688583032.jpg" alt="product desc">
                </a>
                <a href="#">
                <img src="https://vcdn-sohoa.vnecdn.net/2023/07/06/DSCF3483-1686014164-7221-1688583032.jpg" alt="product desc">
                </a>
                </div><!-- End .product-nav -->

                <div class="details-filter-row details-row-size">
                <label for="size">Size:</label>
                <div class="select-custom">
                <select name="size" id="size" class="form-control">
                <option value="#" selected="selected">Select a size</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">Extra Large</option>
                </select>
                </div><!-- End .select-custom -->
                </div> *@


                <div class="details-filter-row details-row-size">
                    <label for="qty">Qty:</label>
                    <div class="product-details-quantity">
                        <input type="number" id="qty" class="form-control" value="1" min="1" max="@Model.Stock" step="1" data-decimals="0" required>
                    </div><!-- End .product-details-quantity -->
                </div><!-- End .details-filter-row -->

                <div class="product-details-action">
                    <div class="details-action-wrapper">
                        <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                        <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a>
                    </div><!-- End .details-action-wrapper -->
                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                </div>
            </div>
        </div>
    </div>
</div>