﻿@using Application;
@using Application.Checkout;
@using Domain.Enums
@using Newtonsoft.Json;
@model CheckoutViewModel;

@{
    ViewData["Title"] = "Checkout";
    var checkout = TempData["checkout"]?.ToString() ?? string.Empty;
    var data = JsonConvert.DeserializeObject<ResponseResult>(checkout);
    var message = data?.Message ?? string.Empty;
    var status = data?.StatusCode ?? default;
}

@section Styles {
    <link rel="stylesheet" href="~/molla/assets/css/skins/skin-demo-4.css">
}

<main class="main">
    <p hidden id="check-out-message">@message</p>
    <p hidden id="check-out-status">@status</p>
    <div class="page-header text-center" style="background-image: url('/molla/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    @if (Model.Items.Any())
    {
        <div class="page-content mb-3">
            <div class="checkout">
                <div class="container">
                    <form id="frm-customer-info" method="post" action="/checkout/placeorder" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="firstname">First Name *</label>
                                        <input id="firstname" name="FirstName" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="lastname">Last Name *</label>
                                        <input id="lastname" name="LastName" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label for="street">Street *</label>
                                <input id="street" name="Street" type="text" class="form-control" required>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="city">City *</label>
                                        <input id="city" name="City" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="country">Country *</label>
                                        <input id="country" name="Country" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="zipcode">ZIP Code *</label>
                                        <input id="zipcode" name="ZipCode" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="phone">Phone *</label>
                                        <input id="phone" name="PhoneNumber" type="tel" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label for="email">Email address *</label>
                                <input id="email" name="Email" type="email" class="form-control" required>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="terms">
                                    <label class="custom-control-label" for="terms">I agree to the <a href="/pages/faq">terms and conditions</a> *</label>
                                </div><!-- End .custom-checkbox -->

                                <label>Order notes (optional)</label>
                                <textarea name="Note" class="form-control" cols="30" rows="4"></textarea>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3 mt-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <td>@item.Quantity x<a href="/product/detail?id=@item.ProductId"> @item.ProductName</a></td>
                                                    <td>$@item.Price</td>
                                                </tr>
                                            }
                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td>$@Model.Items.Sum(s => s.Quantity * s.Price)</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr>
                                                <td>Shipping:</td>
                                                <td>Free shipping</td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>$@Model.Items.Sum(s => s.Quantity * s.Price)</td>
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <h6 class="accordion-title">Payment Method</h6>
                                        @foreach (var item in Model.ShippingMethod)
                                        {
                                            <div class="input-radio" style="display:flex; align-items:center">
                                                <input value="@item.Key" type="radio" name="PaymentMethod" id="payment-@item.Key" )>
                                                <label class="ml-3" for="payment-@item.Key">@item.Value</label>
                                            </div>
                                        }
                                    </div><!-- End .accordion -->

                                    <button id="btn-place-order" type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div>

        <!-- End .page-content -->
    }
    else
    {
        <div class="ml-5 mr-5" style="background-color: white; text-align:center; align-content: center; height: 500px; border-radius: 8px">
            <div>
                <div>
                    <h1>You haven't added any items to your cart yet.</h1>
                </div>
                @Html.ActionLink("Go buy more!", "Index", "Product", new { area = "" }, new { @class = "btn btn-primary mt-3 rounded" })
            </div>
        </div>
    }
</main><!-- End .main -->
@section Scripts {
    <script src="~/js/checkout.js"></script>
}